In [1]:

import pandas as pd

In [5]:
# 파일 읽고 데이터 베이스로 저장하기

weather_samples = pd.read_csv("/workspaces/codespaces-jupyter/data/weather.csv")
weather_samples

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0     2010-08-01      28.7         8.3         3.4
1     2010-08-02      25.2         8.7         3.8
2     2010-08-03      22.1         6.3         2.9
3     2010-08-04      25.3         6.6         4.2
4     2010-08-05      27.2         9.1         5.6
...          ...       ...         ...         ...
3648  2020-07-27      22.1         4.2         1.7
3649  2020-07-28      21.9         4.5         1.6
3650  2020-07-29      21.6         3.2         1.0
3651  2020-07-30      22.9         9.7         2.4
3652  2020-07-31      25.7         4.8         2.5

[3653 rows x 4 columns]

In [6]:
# 첫 5행 출력하기

weather_samples.head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0  2010-08-01      28.7         8.3         3.4
1  2010-08-02      25.2         8.7         3.8
2  2010-08-03      22.1         6.3         2.9
3  2010-08-04      25.3         6.6         4.2
4  2010-08-05      27.2         9.1         5.6

In [7]:
# 요약정보 출력하기

weather_samples.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          3653 non-null   object
 1   평균기온(°C)    3653 non-null   float64
 2   최대 풍속(m/s)  3649 non-null   float64
 3   평균 풍속(m/s)  3647 non-null   float64
dtypes: float64(3), object(1)
memory usage: 114.3+ KB

In [11]:
# 특정 열 선택하고 기본통계정보 출력하기
# 평균기온 열 선택하기

평균기온 = weather_samples['평균기온(°C)']
평균기온

0       28.7
1       25.2
2       22.1
3       25.3
4       27.2
        ...
3648    22.1
3649    21.9
3650    21.6
3651    22.9
3652    25.7
Name: 평균기온(°C), Length: 3653, dtype: float64

In [15]:
# 평균
평균기온.mean()

12.942102381604162

In [13]:
# 최대값
평균기온.max()

31.3

In [14]:
# 최소값
평균기온.min()

-9.0