In [126]:

import pandas as pd

In [127]:
# 파일 읽고 데이터 베이스로 저장하기

dfweather = pd.read_csv("/workspaces/codespaces-jupyter/data/weather.csv")
dfweather

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0     2010-08-01      28.7         8.3         3.4
1     2010-08-02      25.2         8.7         3.8
2     2010-08-03      22.1         6.3         2.9
3     2010-08-04      25.3         6.6         4.2
4     2010-08-05      27.2         9.1         5.6
...          ...       ...         ...         ...
3648  2020-07-27      22.1         4.2         1.7
3649  2020-07-28      21.9         4.5         1.6
3650  2020-07-29      21.6         3.2         1.0
3651  2020-07-30      22.9         9.7         2.4
3652  2020-07-31      25.7         4.8         2.5

[3653 rows x 4 columns]

In [128]:
# 첫 5행 출력하기

dfweather.head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0  2010-08-01      28.7         8.3         3.4
1  2010-08-02      25.2         8.7         3.8
2  2010-08-03      22.1         6.3         2.9
3  2010-08-04      25.3         6.6         4.2
4  2010-08-05      27.2         9.1         5.6

In [129]:
# 요약정보 출력하기

dfweather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          3653 non-null   object
 1   평균기온(°C)    3653 non-null   float64
 2   최대 풍속(m/s)  3649 non-null   float64
 3   평균 풍속(m/s)  3647 non-null   float64
dtypes: float64(3), object(1)
memory usage: 114.3+ KB

In [130]:
# 특정 열 선택하고 기본통계정보 출력하기
# 평균기온 열 선택하기

tem_series = dfweather['평균기온(°C)']

# 평균
tem_mean = dfweather['평균기온(°C)'].mean()

# 최대값
tem_max = dfweather['평균기온(°C)'].max()

# 최소값
tem_min = dfweather['평균기온(°C)'].min()

print('평균:', tem_mean)
print('최대값:', tem_max)
print('최솟값:', tem_min)

평균: 12.942102381604162
최대값: 31.3
최솟값: -9.0

In [131]:
# 새로운 열 추가 및 데이터프레임 확인

# 새로운 열 추가
섭씨온도 = pd.DataFrame()

# 평균기온 섭씨로 변환, 섭씨온도에 저장

dfweather['평균기온(°C)'].unique()

섭씨온도['평균기온(°C)'] = dfweather['평균기온(°C)'].unique()

섭씨온도.rename(columns={'평균기온(°C)':'섭씨온도'},inplace=True)

dfweather['섭씨온도'] = 섭씨온도['섭씨온도']

dfweather.head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)  섭씨온도
0  2010-08-01      28.7         8.3         3.4  28.7
1  2010-08-02      25.2         8.7         3.8  25.2
2  2010-08-03      22.1         6.3         2.9  22.1
3  2010-08-04      25.3         6.6         4.2  25.3
4  2010-08-05      27.2         9.1         5.6  27.2

In [132]:
filter_평균기온 = dfweather[dfweather['평균기온(°C)'] >= 20]

filter_평균기온.head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)  섭씨온도
0  2010-08-01      28.7         8.3         3.4  28.7
1  2010-08-02      25.2         8.7         3.8  25.2
2  2010-08-03      22.1         6.3         2.9  22.1
3  2010-08-04      25.3         6.6         4.2  25.3
4  2010-08-05      27.2         9.1         5.6  27.2

In [133]:
sort_평균기온 = dfweather.sort_values(by= '평균기온(°C)', ascending=False)

sort_평균기온.head()

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)  섭씨온도
1103  2013-08-08      31.3         7.8         4.6   NaN
1104  2013-08-09      30.6         9.9         6.4   NaN
1105  2013-08-10      30.6         7.4         3.8   NaN
2913  2018-07-23      30.5         6.5         1.6   NaN
2925  2018-08-04      30.3         5.8         3.0   NaN

In [134]:
연도 = pd.DataFrame()

연도 = pd.to_datetime(dfweather['일시']).dt.year

dfweather['연도'] = 연도

dfweather

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)  섭씨온도    연도
0     2010-08-01      28.7         8.3         3.4  28.7  2010
1     2010-08-02      25.2         8.7         3.8  25.2  2010
2     2010-08-03      22.1         6.3         2.9  22.1  2010
3     2010-08-04      25.3         6.6         4.2  25.3  2010
4     2010-08-05      27.2         9.1         5.6  27.2  2010
...          ...       ...         ...         ...   ...   ...
3648  2020-07-27      22.1         4.2         1.7   NaN  2020
3649  2020-07-28      21.9         4.5         1.6   NaN  2020
3650  2020-07-29      21.6         3.2         1.0   NaN  2020
3651  2020-07-30      22.9         9.7         2.4   NaN  2020
3652  2020-07-31      25.7         4.8         2.5   NaN  2020

[3653 rows x 6 columns]

In [152]:
asd = dfweather.groupby('연도' )['평균기온(°C)'].mean()

asd

#asd['asd'].unique()

# 연도['평균기온(°C)'] = dfweather['평균기온(°C)'].unique()

# 연도sss

연도
2010    15.238562
2011    12.073425
2012    11.892896
2013    12.795068
2014    12.844110
2015    13.162466
2016    13.243443
2017    13.111233
2018    13.041644
2019    13.767671
2020    12.233333
Name: 평균기온(°C), dtype: float64