In [42]:
#데이터 프레임 생
import pandas as pd

data = {

'name' : ['Alice','Bob','Charlie','David','Eve'],
'age' : [24,27,22,32,29],
'city' : ['New York','Los Angeles','Chicago','Houston','Phoenix']
}

dfdata = pd.DataFrame(data)

# 행과 열

dfdata.shape


# 요약정보
dfdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   city    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [43]:
# 행과 열
dfdata.shape

(5, 3)

In [44]:
# 요약정보
dfdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   city    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [45]:
# age 열 선택
age_series = dfdata['age']

# age 의 평균
age_mean = dfdata['age'].mean()

# age 최소값
age_max = dfdata['age'].max()

# age 최대값
age_min = dfdata['age'].min()

print('평균:', age_mean)
print('최대값:', age_max)
print('최소값:', age_min)

평균: 26.8
최대값: 32
최소값: 22

In [46]:
# 새로운 값
scores = [85,90,78,92,88]

# 새로운 값 추가
dfdata['scores'] = scores

# 업데이트 값 출력
print(dfdata)

      name  age         city  scores
0    Alice   24     New York      85
1      Bob   27  Los Angeles      90
2  Charlie   22      Chicago      78
3    David   32      Houston      92
4      Eve   29      Phoenix      88

In [49]:
# 나이 25이상 행 필터링
filter_age = dfdata[dfdata['age'] >= 25]

# 필터링 데이터 프레임 출력
print(filter_age)

    name  age         city  scores
1    Bob   27  Los Angeles      90
3  David   32      Houston      92
4    Eve   29      Phoenix      88

In [50]:
# age  기준으로 오름차순 정렬
sort_age = dfdata.sort_values(by= 'age')

# 출력
print(sort_age)

      name  age         city  scores
2  Charlie   22      Chicago      78
0    Alice   24     New York      85
1      Bob   27  Los Angeles      90
4      Eve   29      Phoenix      88
3    David   32      Houston      92